*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.container{
    background-color:grey;
    min-height: 100vh;
    border: 5px solid black
       ;
}
div.content{
    max-width: 900px;
    margin: 0 auto;
}
div.image_container,img 
{
    width: 300px;
    height: 320px;
}
.top_section{
    display:flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;

}
div.flex{
    display: flex;
}
div.image_container{
    border-radius: 50%;
    overflow: hidden;
}
.top_section,h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(39, 36, 36);
    text-transform: uppercase;
}
.top_section,h4{
    font-size: 30px;
    text-align:end;
}
.about{
    margin-top: 50px;
}
.about h2{
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 400;
}
.about p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: justify;
}
.bio{
    margin-top: 50px;
}
.bio h3{
    margin-bottom: 20px;
}
.bio ul{
    margin-left: 30px;
}
footer{
    margin-top: 30px;

}
footer p{
    text-align: end;
    font-weight: bold;
    font-size: 20px;
}